@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Baloo+Da+2:wght@400;500;600&family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Lato:ital,wght@1,700&family=Libre+Baskerville:wght@400;700&family=Mulish:ital,wght@0,200;0,300;1,200&family=Updock&display=swap');
*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary:'Josefin+Sans';
    --font-secundary:'Baloo+Da+2';
    --font-action: 'Mulish';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(3, 22, 75);
}
                                             /*menu line*/
.burguer{
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;
    
}
.show-menu .burguer{
    right: 16rem;
}
.line{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem ,.4rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.4rem);
}
.burguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(6, 121, 197) ;
    color: #ffff;
    font-family: var(--font-action);
    opacity: 0;
}
.burguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid rgb(6, 121, 197) ;
    border-top: .5rem solid  transparent ;
    border-left: .5rem solid  transparent ;
    border-bottom: .5rem solid  transparent ;
    left: -1rem;
}
.show-menu .burguer:hover span{
    opacity: 1;
}
/*Formatacao do corpo*/
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.img-bg img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
    animation: zoom 15s ;
   
} 
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .2rem 2px rgba(0,0,0, .4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: movetxt 2s 0.5s forwards;
}.banner p{
    font-family:var(--font-secundary);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0,0,0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movetxt 2s 0.7s forwards;

}
@keyframes movetxt{
    0%{
        transform: translate(10rem) rotate(-5deg);
    }
    100%{
        transform: translate(0) rotate(0);
        opacity: 1;
    }
}

.banner button{
    font-family:var(--font-action) ;
   font-size: 1.2rem;
   text-transform: uppercase;
   letter-spacing: .1rem;
    color: rgb(250, 239, 239);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 121, 197) 0%, rgb(53, 17, 138) 100%);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movetxt 2s 0.9s forwards;
    

}

                                                    /*Menu*/
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #0e7fa1;
    position: fixed;
    top: 0px;
    right: -20rem;
    transition: all 1s;
    z-index: 1;
}
.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-iten{
    text-align: center;
    margin-bottom: 1rem;
}
.menu-item{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}
.menu-item:hover{
    color:rgb(6, 121, 197);
}
.social-midia{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-midia i{
   background-color: rgb(1, 50, 82);
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-midia i:hover{
    background-color: rgb(6, 121, 197);

}
                                        /* Seccao Hoteis*/
.sessao-header{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 2rem;
    color: rgb(250, 239, 239);
    border-bottom: solid 3px rgb(6, 121, 197);
}
.hoteis{
    margin-top: 2rem;
    display: flex;
  
}

.project{
    display: flex;
    justify-content: space-evenly;
   
}

.card{
    width: 18rem;
    height:25rem;
    position: relative;
    margin-left: 1rem;
    z-index: 0;
   
}
.card-img{
    width: 100%;
    height: 100%;
 
}
.card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition:  opacity 0.4s ;
}

.card:hover .card-img img{
    opacity: .5;
}
.card-info{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.3rem 0.3rem rgba(0,0,0, .4);
    transition: all .4s;
}
.card-info h2{
    font-family: var(--font-secundary);
    font-size: 2rem;
    font-weight: 500;
    color: rgb(250, 239, 239);
}
.card-info h3{
    font-family: var(--font-secundary);
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.card-info p{
    font-family: var(--font-secundary);
    color: rgb(16, 179, 190);
    font-weight: bolder;
    width: 80%;
}
.btn{
    letter-spacing: .1rem;
    color: rgb(250, 239, 239);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 121, 197) 0%, rgb(53, 17, 138) 100%);
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bug{
    margin-top: 3rem;
    margin-left: 38.5rem;
    text-transform: uppercase;
}

.card-info button{
    font-family:var(--font-action) ;
    font-size: 0.8rem;
  

}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
                                                   /*seccao Contacto*/
.seccao-contacto{
    width: 100%;
    height: 100vh;
    background-color: rgb(6, 70, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto-wraper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 3rem 5rem rgba(0,0,0,0.5);
}
.contacto-left{
    width: 35%;
    background:
     linear-gradient(rgba(15,15,15, 0.6), rgba(22,22,22,0.5)),
     url(../IMG/13.jpg);
    background-size: cover ;
}

.contacto-left img{
    width: 100%;
    height: 100%;
}

.contacto-right{
    width: 65%;
    background-color: rgb(238, 235, 235);
    padding: 1rem 3rem 3rem 3rem;
    z-index: 0;
}
.seccao-contacto h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #555;
    font-size: 3rem;
    font-weight: lighter;
}

.seccao-contacto form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    position: relative;
}
.input-group textarea{
    padding-top: 1rem;
    max-width: 30rem;
    max-height: 5rem;
}
.field{
    background-color: transparent;
    border: none;
    width: 20rem;
    font-size: 1.3rem;
    font-family: var(--font-secundary);
    border-bottom: 1px dashed #555;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}
.field-label{
    position: absolute;
    left: 0;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    color: #555;
    top: 1rem;
    font-size: 1rem;
    transition: all 0.3s;
}
.field:focus ~ label{
    top: 0;
    font-size: 0.7rem;

}
.field:focus{
    border-bottom: 1px solid;
}
.btn-submit{
    text-transform: uppercase;
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
    font-family: var(--font-primary);
    font-size: 1rem;
    padding-bottom: 1.5rem;
}
                                              /*Seccao pagamento*/
.orcamento{
    width: 100%;
    height: 100vh;
    background: url(../IMG/grand\ maputo.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.orcamento-wraper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5) ;
    position: relative;
}
.orcamento h1{
    position: absolute;
    top: -2rem;
    left: .5rem;
    color: rgb(250, 239, 239);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 121, 197) 0%, rgb(53, 17, 138) 100%);
    padding: 0 3rem;
    font-family: var(--font-secundary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5) ;
    border-radius: 10px;
}
.orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;
}
.orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 3rem;
    font-size: 1.5rem;
    outline: none;
    border-radius: 10px;
   
}
.orcamento input[type="date"]{
    padding: 0,3rem;
    width: 30%;
    border-radius: 10px; 
}
.btn-orcamento{
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
}
                                                    /*Rodape*/
footer{
    width: 100%;
    height: 10rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-content p{
    font-family: var(--font-action);
    color: #555;
    font-size: 1.3rem;
}
.social-list a{
     margin: 2rem;
    color: #555;
    font-size: 1.2rem;

}
.social-list ul{
    display: flex;
}
#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 121, 197) 0%, rgb(53, 17, 138) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.3rem #0000 ;
}

                                                    /*saiba mais*/
.saiba-mais{
    width: 100%;
    /*background-color: rgb(6, 70, 100);8*/
    
}                                                

                                                     /*slide right*/

.posit{
    width: 100%;
   /* height: 30rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(..img/fundo.jpg);

}
.saiba-left{
    margin-top: 3.2rem;
    width: 50%;
    width: 400px;
    height: 300px;
    margin-left:15rem;
    background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 121, 197) 0%, rgb(53, 17, 138) 100%);
   /* background-color: #ffffff99;*/
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;

}
.saiba-left p{
    position: relative;
    margin-top: .5rem;
    margin-left: .5rem;
    font-size: 1.3rem;
    font-weight:300;
    font-family: var(--font-secundary);
    color: #ffff;
    width: 400px;
    height: 300px;

}
.saiba-right{
    margin-left: 2rem;
}
.slide{
    width: 400px;
    height: 300px;
    /*outline: 3px solid white;*/
    overflow: hidden;
    margin: 50px auto ;
    box-shadow:  0 3rem 5rem rgba(0,0,0,0.5);
    padding: 0px;
    border-radius: 10px;
}
.slide img{
    width: 400px;
    height: 300px;
    
}

.slide ul{
    display: flex;
    list-style: none;
    width: 1200px;
    height: 300px;
}

.slide li{
    position: relative;
    left: -400px;
    animation: slide 20s infinite ease-out;
}

@keyframes slide{
    0%{left: 0px}
    20%{left: 0px}
    30%{left: -400px}
    50%{left: -400px}
    60%{left: -800px}
    90%{left: -800px}
    100%{left: 0px}
}

